
<h1><%=@user.username%>'s Gifts:</h1>
<p><%= @gift.name %></p>
<p><%= @gift.description %></p>


<form method="POST" action="/gifts/<%=@gift.slug%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Gift">
</form>

<% if !logged_in? %>
  <p><a href="/login">Log In</a></p>
<% else %>
  <p><a href="/logout">Log Out</a></p>
<% end %>

<a href="/gifts/<%=@gift.slug%>/edit">Edit Gift </a>
<br></br>
<a href="/users/<%= current_user.slug %>/gifts"> Back to Gift Journal </a>
